server {
    listen 8080;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location = /hc {
        default_type application/json;
        return 200 '{"env":"${APP_ENV}","serverAddress":"${HOSTNAME}","serverName":"${SERVER_NAME}","serverPort":"8080"}';
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}